<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <style>
        label{
            display: inline-block;
            width: 40%;
            margin-top: 5px;
        
        }
        button{
            padding: 5px;
            width: 25%;
        }
    </style>
    <h3>Stock Details</h3>
    <label for="">Name</label>
    <label for="">{{Data.name}}</label>
    <label for="">Ticker</label>
    <label for="">{{Data.ticker}}</label>
    <label for="">Exchange</label>
    <label for="">{{Data.stock_exchange}}</label>
    <label for="">Price</label>
    <label for="">{{Data.price}}</label>
    <button><a href="/edit/{{Data.id}}">Edit</a></button>
    <button><a href="/listing">Back</a></button>
</body>
</html>